
.stat-data-table .rows {
  border-top: 1px solid black;
}

.stat-data-table .header .column {
	float: left;
	text-align: center;
}

.stat-data-table .row .column {
  float: left;
  text-align: center;
}

.stat-data-table .row {
  height: 1.5em;	
  margin: 0px;
  padding: 2px;
}

.stat-data-table .row.even {
  background: #f8f8f8;	
}

.stat-data-table .w1 {
  width: 50px;
}

.stat-data-table .w2 {
  width: 100px;	
}

.stat-data-table .w3 {
	width: 150px;
}

.stat-data-table .w4 {
	width: 200px;
}

.stat-data-table .w5 {
	width: 250px;
}

.stat-data-table span.flag {
  display: block;
  float: right; 
  margin: 3px 10px 3px 0px;
  width: 16px;
  height: 16px;
  text-indent: 999px;
  overflow: hidden;
  background: url(images/flag_yellow.png);
}

#edit-assignment-flag {
  border: 1px red solid;
  padding: 2px;
}

#edit-flag-assignment {
  background: #ee8; 
}

/*** GENERAL ***/

.clear {
  clear: both;  
}
